<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test suite">
        <test name="Login">
                <parameter name="report name" value="login"></parameter>
                <classes>
                    <class name="com.automation.tests.vytrack.login.NewLoginTest"/>
                </classes>
        </test>
            

        <test name="Calendar events">
                <parameter name="reportName" value="calendarEvents"></parameter>
                <classes>
                    <class name="com.automation.tests.vytrack.activities.NewCalendarEventPageTest"/>
                </classes>
        </test>
</suite>